<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::head"></head>

<body class="about">
<header th:replace="fragments/navigation::nav"></header>
<main>
    <h1 class="e d-flex col-2 col-sm-2 col-md-4 col-lg-5">
        GasLogg
    </h1>
    <h3 class="d d-flex col-2 col-sm-2 col-md-4 col-lg-5">
        Simple and easy to use softwate to track your
        mileage, gas consumption and gas costs. Using this software you can track car expenses, auto
        service, your fill-ups, fuel consumption, car´s mileage, gas costs/gas prices and save money.
    </h3>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>