<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/navigation::nav"></header>
<main class="content-wrap">
    <div class="container">
        <h2 class="text-center text-white">Add new vehicle</h2>
        <form th:method="post" th:action="@{/vehicle/add}" th:object="${vehicleAddBindingModel}"
              enctype="multipart/form-data"
              class="main-form mx-auto col-md-6 d-flex flex-column justify-content-center">

            <div class="form-group">
                <label for="brandId" class="text-white font-weight-bold">Brand</label>
                <select th:field="*{brandName}" th:errorclass="is-invalid" id="brandId" name="brandId" class="form-control">
                    <option value="">- Select a Brand -</option>
                    <option th:each="b :${brandsModels}" th:value="${b.name}"
                            th:text="${b.name}"></option>
                </select>
                <small class="invalid-feedback text-danger">Vechicle brand is required.</small>
            </div>
            <div class="form-group">
                <label for="modelId" class="text-white font-weight-bold">Model</label>
                <select th:field="*{modelName}" th:errorclass="is-invalid" id="modelId" name="modelId" class="form-control">
                    <option value="">- Select a Model -</option>
                </select>
                <small class="invalid-feedback text-danger">Vehicle model is required.</small>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label for="name" class="text-white font-weight-bold">Vehicle name</label>
                    <input th:field="*{name}" th:errorclass="is-invalid" name="name"
                           id="name" type="text" class="form-control"
                           placeholder="Put vehicle name here">
                    <small class="invalid-feedback text-danger">Must add vehicle name!</small>
                </div>

                <label for="picture" class="text-white font-weight-bold">Picture</label>
                <input th:field="*{picture}" th:errorclass="is-invalid" type="file" class="form-control"
                       id="date" name="date"/>
                <small class="invalid-feedback text-danger">You must add Picture.</small>
            </div>
            <div class="form-group">
                <label for="transmission" class="text-white font-weight-bold">Transmission type</label>
                <select th:field="*{transmission}" th:errorclass="is-invalid" id="type"
                        class="custom-select">
                    <option value="" selected>Select type</option>
                    <option th:each="t :${T(fuellogg.model.enums.TransmissionEnum).values()}" th:value="${t}"
                            th:text="${t}"
                            text="ADVANCED"></option>
                </select>
                <small class="invalid-feedback text-danger">Must select type of trasmission!</small>

            </div>
            <div class="form-group">
                <label for="engine" class="text-white font-weight-bold">Engine type</label>
                <select th:field="*{engine}" th:errorclass="is-invalid" id="type" class="custom-select">
                    <option value="" selected>Select type</option>
                    <option th:each="e :${T(fuellogg.model.enums.EngineEnum).values()}" th:value="${e}" th:text="${e}"
                            text="ADVANCED"></option>
                </select>
                <small class="invalid-feedback text-danger">Must select type of engine!</small>
            </div>
            <div class="form-group">
                <label for="horsePower" class="text-white font-weight-bold">Horse Power</label>
                <input th:field="*{horsePower}" th:errorclass="is-invalid" type="number" class="form-control"
                       id="horsePower" name="horsePower" required minlength="1"
                       placeholder="Horse Power">
                <small class="invalid-feedback text-danger">Horse power should be positive!</small>
            </div>
            <div class="form-group">
                <label for="odometer" class="text-white font-weight-bold">Odometer</label>
                <input th:field="*{odometer}" th:errorclass="is-invalid" type="number" class="form-control"
                       id="odometer" name="odometer" required minlength="1"
                       placeholder="Odometer">
                <small class="invalid-feedback text-danger">Odometer should be positive!</small>
            </div>
            <div class="form-group">
                <label for="year" class="text-white font-weight-bold">Year</label>
                <input th:field="*{year}" th:errorclass="is-invalid" name="year" id="year" type="number" min="1950"
                       max="2022" step="1" class="form-control" placeholder="Manufacturing year"/>
                <small class="invalid-feedback text-danger">Manufacturing year is required, and must be after
                    1950.</small>
            </div>
            <div class="row">
                <div class="col col-md-4">
                    <div class="button-holder d-flex">
                        <input type="submit" class="btn btn-secondary btn-lg" value="Add vehicle">
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
<script th:src="@{/js/models.js}"></script>
<footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>