<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/navigation::nav"></header>
<main>
    <div class="center">
        <h1 class="a a col-1 col-sm-2 col-md-6 col-lg-12">Join The Journey</h1>
        <!-- <h2 class="b">FUEL MANAGEMENT SOFTWARE</h1> -->
        <h3 class="c">Track your fill-ups, mileage log, gas costs and fuel consumption on all your vehicles.</h3>
    </div>

</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>