<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::head"></head>

<body>
<header th:replace="fragments/navigation::nav"></header>
    <main class="content-wrap">
        <div class="container">
            <h2 class="text-center text-white">Add fuel</h2>
            <form th:method="post" th:action="@{/statistics/addFuel/{id}(id=*{vehicleId})}" th:object="${addFuelBindingModel}" class="main-form mx-auto col-md-6 d-flex flex-column justify-content-center">
                <div class="form-group">
                    <label for="date" class="text-white font-weight-bold">Date</label>
                    <input th:field="*{date}" th:errorclass="bg-danger" type="date" class="form-control" id="date" name="date"/>
                    <small class="invalid-feedback text-danger">Date must be selected</small>
                </div>
                <div class="form-group">
                    <label for="odometer" class="text-white font-weight-bold">Odometer</label>
                    <input th:field="*{odometer}"
                           th:errorclass="is-invalid" type="number" step="0.01" class="form-control" id="odometer" name="odometer" required
                        placeholder="Current odometer">
                    <small class="invalid-feedback text-danger">Odometer value must be positive number.</small>
                    <small th:if="${wrongMileage}" class="text-danger">Current odometer should be bigger than last odometer!</small>
                </div>
                <div class="form-group">
                    <label for="route" class="text-white font-weight-bold">Route type</label>
                    <select th:field="*{route}"
                            th:errorclass="is-invalid"
                            id="route" class="custom-select">
                        <option value="" selected>Select type</option>
                        <option th:each="r :${T(fuellogg.model.enums.RouteEnum).values()}"  th:value="${r}" th:text="${r}"></option>
                    </select>
                    <small class="invalid-feedback text-danger">Trip odometer value must be positive number.</small>
                </div>
                <div class="form-group">
                    <label for="quantity" class="text-white font-weight-bold">Quantity</label>
                    <input th:field="*{quantity}"
                           th:errorclass="is-invalid"  type="number" class="form-control" id="quantity" name="quantity" min="0" value="0" step="0.01"
                         placeholder="Quantity">
                    <small class="invalid-feedback text-danger">Quantity must be positive number.</small>
                </div>
                <div class="form-group">
                    <label for="fuelSort"  class="text-white font-weight-bold">Fuel sort</label>
                    <select th:field="*{fuelSort}"
                            th:errorclass="is-invalid"
                            id="fuelSort" class="custom-select">
                        <option value="" selected>Select fuel</option>
                        <option th:each="f :${T(fuellogg.model.enums.EngineEnum).values()}"  th:value="${f}" th:text="${f}"></option>
                    </select>
                    <small class="invalid-feedback text-danger">Must select fuel sort!</small>
                </div>
                <div class="form-group">
                    <label for="price" class="text-white font-weight-bold">Price</label>
                    <input th:field="*{price}" th:errorclass="is-invalid" type="number" class="form-control" id="fuelSort" name="fuelSort" required
                           min="0" value="0" step="0.01" placeholder="Price">
                    <small class="invalid-feedback text-danger">Passwords should match!</small>
                </div>
                <div class="form-group">
                    <label for="description" class="text-white font-weight-bold">Description</label>
                    <textarea
                    th:field="*{description}"
                    th:errorclass="is-invalid"
                    id="Description"
                    class="form-control"
                    aria-describedby="inputDescriptionError"></textarea>
                
                </div>
                <div class="row">
                    <div class="col col-md-4">
                        <div class="button-holder d-flex">
                            <input type="submit" class="btn btn-secondary btn-lg" value="Add fueling">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>