<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::head"></head>

<body>
<header th:replace="fragments/navigation::nav"></header>
<main>
    <div class="container">
        <h2 class="е" style="text-align: center; color: oldlace;">Statistics.</h2>
        <form class="main-form mx-auto col-md-6 d-flex flex-column justify-content-center">
            <div class="form-group">
                <h3 class="c text-center  mt-5"
                    th:text="|Biggest Log time for last 24 hours: ${stat.getBiggestTime()} ms|"></h3>
                <h3 class="c text-center  mt-5" th:text="|Total requests: ${stat.getTotalRequest()}|"></h3>
                <h3 class="c text-center  mt-5" th:text="|Total requests on adding fuel option: ${stat.getAddFuelings()}|"></h3>
                <h3 class="c text-center  mt-5" th:text="|Total requests on adding expenses option: ${stat.getAddExpenses()}|"></h3>
                <h3 class="c text-center  mt-5" th:text="|Anonymous requests: ${stat.getAnonymousRequest()}|"></h3>
                <h3 class="c text-center  mt-5" th:text="|Authorized requests: ${stat.getAuthRequest()}|"></h3>
            </div>
        </form>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>