<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::head"></head>

<body>
<header th:replace="fragments/navigation::nav"></header>
<main>
        <div  class="details col-6 bg-dark rounded m-auto" style="height: 95vh; overflow: auto">
            <h3 class="mySticky bg-gray text-center text-white rounded" th:text="|Fueling history: ${make}|"><a type="button" class="btn btn-sm btn-outline-secondary" th:href="@{/statistic/addFuel/{vehicleId}(vehicleId = *{vehicleId})}">Refuel</a></h3>
               
                <div th:each="f : ${fuelings}" th:object="${f}" class="mt-3 rounded badge-info text-dark bg-light text-lg-center justify-content-evenly border-1">
                    <span th:text="|Date: *{date}|">Date: 01.11.2021</span>
                    <span th:text="|Trip: *{trip} Consumped fuel: *{quantity} l|">Trip: 237,00 km Consumped fuel: 37,63 l</span>
                    <span th:text="|Average consumption: *{fuelConsumption} l/100km|">Average consumption: 15,88 l/100km</span>
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="">Update</a>
                </div>
        </div>
    </main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>